:root {
  --main-white: #ffffff;
  --main-light-grey: #ffffff96;
  --main-black: #212121;
  --main-medium-grey: #ffffff96;

  --middle-grey: #999999;
  --medium-grey: #e8e2e2;

  --accent-gray: #e7e7e3;
  --accent-white: #fafafa;
  --accent-dark-grey: #232321;
  --accent-blue: #4a69e2;
  --accent-green: #5ecc79;
  --accent-black: #000000;
  --accent-light-green: #5ecc7985;

  --coloring-red: #f34747;
  --coloring-black: #464646;

  --input-gray: #232321;
  --input-text-gray: #79767c;
}
