// Брейкпоинты для адаптации
$max-laptop: 1600px;
$max-tablet: 1200px;
$max-mobile: 600px;
/* SCALES */
$desktop-scale: 19.2; // 1920px
$laptop-scale: 14.4; // 1440px
$tablet-scale: 7.68; // 768px
$mobile-scale: 3.75; // 375px
