@import './base.scss';
#app {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: var(--vt-c-white);
}

a,
.red {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    padding: 3px;
    &:hover {
        color: rgb(255, 0, 0);
    }
}

@media (min-width: 1440px) {
    body {}
    #app {
        display: flex;
        margin: 0 auto;
    }
}